<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Resume Analyzer</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Smart Resume Analyzer</h1>

    <p class="subtitle">
        Upload Resume and Match with Job Description
    </p>

    <form method="POST" enctype="multipart/form-data">

        <label>Upload Resume (PDF)</label>
        <input type="file"
               name="resume"
               accept=".pdf"
               required>

        <label>Job Description</label>
        <textarea
            name="job_description"
            placeholder="Paste Job Description Here..."
            required></textarea>

        <button type="submit">
            Analyze Resume
        </button>

    </form>

    {% if score is not none %}
    <div class="result">

        <h2>Match Score: {{ score }}%</h2>

        <h3>Matched Keywords</h3>

        <ul>
            {% for word in matched_keywords %}
                <li>{{ word }}</li>
            {% endfor %}
        </ul>

    </div>
    {% endif %}

</div>

</body>
</html>
